<!DOCTYPE HTML>
<html>
        <head>
                <title>About SMDC | TheCoastResidences</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
                <%= stylesheet_link_tag    'lp1', media: 'all'%>
                <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
                <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        </head>
        <body>

                <!-- Header -->
                        <section id="header" class="dark">
                                <header>
                                    <h1>
                                      About SM Development Corporation
                                    </h1>
                                </header>
                        </section>

                <!-- First -->
                        <section id="first" class="main">
                                <div class="content dark style1 featured">
                                        <div class="container">
                                                <div class="row">
                                                        <div class="12u 12u(narrow)">
<h3>
        OVERVIEW
</h3>

<p>
Every single day, SM touches the lives of millions of people through its stores, malls, banks, hotels and leisure facilities. Now, Filipinos can live in style, comfort, and convenience with SM Development Corporation.
</p>
<p>
SM Development Corporation commits itself to provide access to luxurious urban living through vertical villages perfectly integrated with a commercial retail environment, giving its residents access to a truly cosmopolitan lifestyle.
</p>

<p>
Properties of SM Development Corporation are strategically situated in key areas across Metro Manila specifically the cities of Makati, Mandaluyong, Manila, Paranaque, Las Pinas, Pasay, Pasig, Quezon City, and Taguig, as well as Tagaytay City.
</p>

<h3>
<strong>Awards & Citations</strong>
</h3>

<h3>Philippine Property Awards</h3>
        <p>
           Shell Residences - 2015 Winner Best Landscape Architectural Design
        </p>
        <p>
Mezza 2 Residences - 2015 Winner Best Affordable Condo Development
        </p>
        <p>
Wind Residences - 2015 Highly Commended Best Mid-Range Development Resort
        </p>
        <p>
Grace Residences - 2015 Highly Commended Best Landscape Architectural Design
        </p>
        <p>
Trees Residences - 2015 Highly Commended Best Landscape Architectural Design
        </p>
        <p>
Green Residences - 2015 Highly Commended Best Affordable Condo Development
        </p>
        <p>
Jazz Residences - 2014 Best Residential Interior Design
        </p>
        <p>
Jazz Residences - Best Mid Range Condo Development (Manila)
        </p>
<h3>Asia Pacific Property Awards Development</h3>
        <p>
Breeze Residences - 2015 - 2016 Highly Commended Residential  High Rise Development Philippines
        </p>
<h3>Reader's Digest</h3>
        <p>
Reader's Digest Trusted Brand Award 2012, 2013, 2014, 2015
        </p>
<h3>BCI Awards</h3>
        <p>
BCI Asia Top Ten Developers 2014 SM Prime
        </p>
        <p>
BCI Asia Top Ten Developers Corporation
        </p>

                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </section>

                        <%= render partial: 'pages/footer'%>

                <!-- Scripts -->
    <%= javascript_include_tag 'application' %>
                        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <%= render partial: 'pages/google_analytics'%>

        </body>
</html>
